.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
  
    min-width: 1200px;
    padding: 30px;
  }
  
  .contactListWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }