.btn_container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.title {
  margin-bottom: 20px;
  color: rgb(81, 70, 48);
  font-size: 20px;
}
.yes_btn {
  background-color: rgb(251, 243, 198);
  border: 1px dashed black;
  color: rgb(81, 70, 48);
  padding: 15px;
  
  border-radius: 8px;
  font-weight: 600;
}

.no_btn {
  padding: 15px;
  background-color: rgb(251, 243, 198);
  border: 1px dashed black;
  color: rgb(81, 70, 48);
  border-radius: 8px;
  font-weight: 600;
}
